<div class="video">
  <div class="log">
    <span class='log-button'>Login/Signup</span>
    <div class="name">
      <form class='log-form' action='/users' method='post'>
        <div><input type='text' name='user[name]' placeholder='Username'/></div>
        <div><input type='password' name='user[password]' placeholder='Password'/></div>
        <div><input type='submit' value='Login/Signup'></div>
      </form>
    </div>
  </div>
  <iframe src="http://tv.majorleaguegaming.com/player/embed/playcevo" frameborder="0" scrolling="no" height="450" width="1150"></iframe>
</div>
<div class="chat-container">

  <div class="chat">

  </div>
  <form class='message' action='/messages' method='post'>
    <input class="chat-box" type='text' name='message[content]' placeholder='Your Message Here!'></input>
    <input type='submit' value='Submit'/>
  </form>
</div>