<div class="video">
  <h3 class='name'>
    <u>Display Name</u>
  </h3>
  <textarea class='display' placeholder='Enter Your Display Name!'></textarea>
  <iframe src="http://www.twitch.tv/summit1g/embed" frameborder="0" scrolling="no" height="450" width="1150"></iframe>
</div>
<div class="chat-container">

  <div class="chat">

  </div>
  <textarea class="chat-box" placeholder='Enter Your Message Here!'>

  </textarea>
</div>